@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* Shared styles */
*{
    margin: 0;
    padding: 0;
}

main > section{
    margin-top: 100px;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    background: linear-gradient(180deg, #111111 0%, rgba(119, 119, 119, 0) 100%);
    background-repeat: no-repeat;
}

.display-flex{
    display: flex;
}

.text-primary{
    font-size: 1.125rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.text-secondary{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.section-title{
    font-size: 3rem;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 14px;
}

.section-content{
    max-width: 1056px;
    margin: 0 auto;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.btn-primary{
    font-size: 0.8rem;
    font-weight: 600;
    padding: 16px 40px;
    border-radius: 42px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(230, 83, 60, 1);
    border: none;
}
.header-btns{

}

/* navbar styles */

.header-title{
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 800;
    color: rgba(230, 83, 60, 1);
}

.navbar{
    justify-content: space-between;
    align-items: center;
    margin-top: 57px;
}

.navitems{
    gap: 47px;
}
.navitem{
    list-style: none;
    padding: 10px 0;
    /* margin-right: 47px; */
}

.navlink{
    text-decoration: none;
    /* color: rgba(255, 255, 255, 1); */
}

.navbar a{
    color: rgba(255, 255, 255, 1);
}

.navbar ul{
    border: 1px solid rebeccapurple;
    padding: 12px 20px;
    border-radius: 39px;
    /* text-align: center; */
}


/* Banner section styles */
.banner-title{
    font-size: 4.875rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 28px;
}
.banner-description{
    margin-top: 28px;
    margin-bottom: 28px;
}
.banner-content{
    /* max-width: 520px;
    margin: 0 auto; */
}
.banner{
    margin-top: 58px;
    justify-content: space-around;
}
.banner img{
    max-width: 100%;
}
#header-shape-text{
    font-style: italic;
    font-size: 4.75rem;
}

.workout-videos-badge{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 17px 24px;
    max-width: 193px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
}
.video-tutorial-badge{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 23px 20px;
    max-width: 206px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
}
.video-tutorial-title{
    font-size: 2.5rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
}
.video-tutorial-description{
    font-size: 0.8125rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
}


/* Change your habits styles */
.change-habits-content{
}

.habits-description{
    max-width: 671px;
    margin: 0 auto;
}

.habits-image-container-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 58px;
}

.habits-image-container-cards img{
    max-width: 100%;
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.habits-image-card{
    text-align: center;
}

.habits-card-title{
    margin-top: 12px;
    margin-bottom: 6px;
}

.habits-card-description{
    max-width: 230px;
    margin: 0 auto;
    line-height: 18px;
}


/* Change your habits styles */

.team-image-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 18px;
    margin-top: 58px;
}
.trainer-content{

 
}
.trainer-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}
.trainer-details{
    margin-left: 20px;
    margin-top: -60px;
}

.trainer-name{
    font-size: 1.25rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 3px;
    /* margin-top: -80px; */
}
.trainer-details{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}


/* Smaller device responsiveness */

@media screen and (max-width : 576px) {
    .habits-image-container-cards,
    .team-image-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .section-title{
        font-size: 2rem;
    }
    .habits-description{
        max-width: 316px;
        margin: 0 auto;
    }
    .banner{
        flex-direction: column;
    }
    .header-btns{
        text-align: center;
    }
}


/* Medium device responsive */

@media screen and (min-width: 576px) and (max-width: 992px){
    .habits-image-container-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .habits-description{
        max-width: 475px;
        margin: 0 auto;
    }
}